# Exercise - Data Management

In [1]:
import pandas as pd
import numpy as np

1. Load `src/original_data/chs_data.dta` into a pandas DataFrame. Transform it into a new dataframe that differs from the old one in the following aspects:
    - It has the colum `"mom_id"` which of dtype integer and does not have the original column `"momid"`
    - It does not contain observations where `"year"` is less than 1986 or above 2010 or where the year number is odd. 
    - The index is set to `["child_id", "year"]` (both of dtype integer).

In [2]:
chs_data= pd.read_stata("chs_data.dta")
chs_data.head()

,childid,age,momid,birthorder,year,race,sex,yob,nchildren,momage,...,dfamincB,dmomhgc,dlogsal30,dconvict,dprobat,ddrug1,ddrug2,drepeat,dspecial,dteenpreg
0,201.0,0,2.0,1,1993,3.0,1.0,1993.0,2.0,34.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,201.0,1,2.0,1,1994,3.0,1.0,1993.0,2.0,34.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,201.0,3,2.0,1,1996,3.0,1.0,1993.0,2.0,34.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,201.0,5,2.0,1,1998,3.0,1.0,1993.0,2.0,34.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,201.0,7,2.0,1,2000,3.0,1.0,1993.0,2.0,34.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [3]:
#Renaming variables, changing data types and replacing values
chs_data.rename(columns = {'momid':'mom_id','childid':'child_id'}, inplace = True)
chs_data = chs_data.astype({'mom_id':'int', 'child_id':'int'})

In [4]:
#Dropping rows
chs_data = chs_data[(chs_data.year >= 1986) & (chs_data.year <= 2010) & (chs_data.year%2 == 0)]
#Setting index
chs_data.set_index(['child_id','year'], inplace=True)
chs_data.head()

               age  mom_id  birthorder  race  sex     yob  nchildren  momage  \
child_id year
201      1994    1       2           1   3.0  1.0  1993.0        2.0    34.0
         1996    3       2           1   3.0  1.0  1993.0        2.0    34.0
         1998    5       2           1   3.0  1.0  1993.0        2.0    34.0
         2000    7       2           1   3.0  1.0  1993.0        2.0    34.0
         2002    9       2           1   3.0  1.0  1993.0        2.0    34.0

               dpar  d19872001  ...  dfamincB  dmomhgc  dlogsal30  dconvict  \
child_id year                   ...
201      1994   0.0        1.0  ...       0.0      1.0        1.0       0.0
         1996   0.0        1.0  ...       0.0      1.0        1.0       0.0
         1998   0.0        1.0  ...       0.0      1.0        1.0       0.0
         2000   0.0        1.0  ...       0.0      1.0        1.0       0.0
         2002   0.0        1.0  ...       0.0      1.0        1.0       0.0

               dprobat  ddrug1  ddrug2  drepeat  dspecial  dteenpreg
child_id year
201      1994      0.0     0.0     0.0      0.0       1.0        0.0
         1996      0.0     0.0     0.0      0.0       1.0        0.0
         1998      0.0     0.0     0.0      0.0       1.0        0.0
         2000      0.0     0.0     0.0      0.0       1.0        0.0
         2002      0.0     0.0     0.0      0.0       1.0        0.0

[5 rows x 172 columns]

2. Load the `bpi` dataset, clean and transform it. This means that you generate a new dataset that differs from the old one by the following aspccts. You can vary the order in which you achieve these tasks as you wish.
    - Missing values are coded as [pandas missings](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html) instead of negative numbers. But for now stay away from the new nullable Integer dtypes because that can lead to problems with some file formats. 
    - The index is the same as in the chs data. `"child_id"` can be generated from `"C0000100"` 
    - All variables have readable names from `bpi_variable_info.csv`
    - Only keep variables that are present in `bpi_variable_info.csv`
    - The data is in long format

In [5]:
bpi = pd.read_stata("BEHAVIOR_PROBLEMS_INDEX.dta")
bpi.head()

,C0000100,C0000200,C0005800,C0564000,C0564100,C0564200,C0564300,C0564400,C0564500,C0564600,...,Y3249000,Y3249001,Y3249100,Y3249101,Y3249200,Y3249201,Y3249300,Y3249301,Y3249400,Y3249401
0,201.0,2.0,1,-7,-7,-7,-7,-7,-7,-7,...,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7
1,202.0,2.0,2,-7,-7,-7,-7,-7,-7,-7,...,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7
2,301.0,3.0,1,NOT TRUE,NOT TRUE,NOT TRUE,NOT TRUE,SOMETIMES TRUE,NOT TRUE,NOT TRUE,...,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7
3,302.0,3.0,2,-7,-7,-7,-7,-7,-7,-7,...,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7
4,303.0,3.0,3,-7,-7,-7,-7,-7,-7,-7,...,Not True,Not True,Not True,Not True,-7,-7,-7,-7,-7,-7

In [6]:
bpi_var_info = pd.read_csv("bpi_variable_info.csv")
bpi_var_info.head()

  nlsy_name     readable_name survey_year                           label
0  C0000100           childid   invariant                id code of child
1  C0000200             momid   invariant      id code of mother of child
2  C0005800       birth_order   invariant            birth order of child
3  C0564000      anxiety_mood        1986  ch has sud chgs in mood/feelng
4  C0564100  anxiety_complain        1986  ch cmplns no one loves him/her

In [7]:
#keep variables that are present in `bpi_variable_info.csv`
old_name = bpi_var_info["nlsy_name"] 
bpi = bpi[old_name] 
bpi.shape

(11521, 415)

In [8]:
#variables have readable names from `bpi_variable_info.csv`
new_name = bpi_var_info["readable_name"] + bpi_var_info["survey_year"]
bpi.rename(columns=dict(zip(old_name, new_name)), inplace=True)
bpi.head()

,childidinvariant,momidinvariant,birth_orderinvariant,anxiety_mood1986,anxiety_complain1986,headstrong_tense1986,antisocial_cheat1986,anxiety_fearful1986,headstrong_argues1986,hyperactive_concentration1986,...,dependent_clings2010,dependent_cries2010,dependent_attention2010,dependent_dependent2010,additional_gethim2010,additional_hangout2010,additional_secretive2010,additional_worries2010,antisocial_disob_school2010,antisocial_teachers2010
0,201.0,2.0,1,-7,-7,-7,-7,-7,-7,-7,...,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7
1,202.0,2.0,2,-7,-7,-7,-7,-7,-7,-7,...,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7
2,301.0,3.0,1,NOT TRUE,NOT TRUE,NOT TRUE,NOT TRUE,SOMETIMES TRUE,NOT TRUE,NOT TRUE,...,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7
3,302.0,3.0,2,-7,-7,-7,-7,-7,-7,-7,...,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7
4,303.0,3.0,3,-7,-7,-7,-7,-7,-7,-7,...,-7,-7,-7,-7,-7,-7,-7,-7,-7,-7

In [9]:
#Renaming time invariant variables and changing their data type
bpi.rename(columns = {'momidinvariant':'mom_id','childidinvariant':'child_id','birth_orderinvariant':'birth_order'},inplace = True)
bpi = bpi.astype({'mom_id':'int', 'child_id':'int'})
#Replacing negative values
bpi = bpi.replace(list(range(-10,0)), np.nan)
#Converting from wide to long format with child_id and year as indices
bpi_unique = bpi_var_info["readable_name"].iloc[3:].unique()
bpi = pd.wide_to_long(bpi, bpi_unique, i="child_id", j="year")
bpi

               mom_id birth_order anxiety_mood anxiety_complain  \
child_id year
201      1986       2           1          NaN              NaN
         1988       2           1          NaN              NaN
         1990       2           1          NaN              NaN
         1992       2           1          NaN              NaN
         1994       2           1          NaN              NaN
...               ...         ...          ...              ...
1267501  2002   12675           1          NaN              NaN
         2004   12675           1          NaN              NaN
         2006   12675           1          NaN              NaN
         2008   12675           1          NaN              NaN
         2010   12675           1          NaN              NaN

              headstrong_tense antisocial_cheat anxiety_fearful  \
child_id year
201      1986              NaN              NaN             NaN
         1988              NaN              NaN             NaN
         1990              NaN              NaN             NaN
         1992              NaN              NaN             NaN
         1994              NaN              NaN             NaN
...                        ...              ...             ...
1267501  2002              NaN              NaN             NaN
         2004              NaN              NaN             NaN
         2006              NaN              NaN             NaN
         2008              NaN              NaN             NaN
         2010              NaN              NaN             NaN

              headstrong_argues hyperactive_concentration  \
child_id year
201      1986               NaN                       NaN
         1988               NaN                       NaN
         1990               NaN                       NaN
         1992               NaN                       NaN
         1994               NaN                       NaN
...                         ...                       ...
1267501  2002               NaN                       NaN
         2004               NaN                       NaN
         2006               NaN                       NaN
         2008               NaN                       NaN
         2010               NaN                       NaN

              hyperactive_confused  ... dependent_clings dependent_cries  \
child_id year                       ...
201      1986                  NaN  ...              NaN             NaN
         1988                  NaN  ...              NaN             NaN
         1990                  NaN  ...              NaN             NaN
         1992                  NaN  ...              NaN             NaN
         1994                  NaN  ...              NaN             NaN
...                            ...  ...              ...             ...
1267501  2002                  NaN  ...              NaN             NaN
         2004                  NaN  ...              NaN             NaN
         2006                  NaN  ...              NaN             NaN
         2008                  NaN  ...              NaN             NaN
         2010                  NaN  ...              NaN             NaN

              dependent_attention dependent_dependent antisocial_disob_school  \
child_id year
201      1986                 NaN                 NaN                     NaN
         1988                 NaN                 NaN                     NaN
         1990                 NaN                 NaN                     NaN
         1992                 NaN                 NaN                     NaN
         1994                 NaN                 NaN                     NaN
...                           ...                 ...                     ...
1267501  2002                 NaN                 NaN                     NaN
         2004                 NaN                 NaN                     NaN
         2006                 NaN                 NaN                     NaN
         2008                 NaN                 NaN                     NaN
         2010                 NaN                 NaN                     NaN

              antisocial_teachers additional_gethim additional_hangout  \
child_id year
201      1986                 NaN               NaN                NaN
         1988                 NaN               NaN                NaN
         1990                 NaN               NaN                NaN
         1992                 NaN               NaN                NaN
         1994                 NaN               NaN                NaN
...                           ...               ...                ...
1267501  2002                 NaN               NaN                NaN
         2004                 NaN               NaN                NaN
         2006                 NaN               NaN                NaN
         2008                 NaN               NaN                NaN
         2010                 NaN               NaN                NaN

              additional_secretive additional_worries
child_id year
201      1986                  NaN                NaN
         1988                  NaN                NaN
         1990                  NaN                NaN
         1992                  NaN                NaN
         1994                  NaN                NaN
...                            ...                ...
1267501  2002                  NaN                NaN
         2004                  NaN                NaN
         2006                  NaN                NaN
         2008                  NaN                NaN
         2010                  NaN                NaN

[149773 rows x 34 columns]

3. Merge the datasets from the two previous task. Keep all observations that are in the chs dataset but drop all that are only in the bpi dataset. Before you merge, check if there are any overlaps in column names between the two datasets. If so, solve them by renaming those columns before merging.

In [10]:
df1 = pd.merge(chs_data, bpi, how="left", on=["child_id", "year"], suffixes=("_chs", "_bpi"))
df1

               age  mom_id_chs  birthorder  race  sex     yob  nchildren  \
child_id year
201      1994    1           2           1   3.0  1.0  1993.0        2.0
         1996    3           2           1   3.0  1.0  1993.0        2.0
         1998    5           2           1   3.0  1.0  1993.0        2.0
         2000    7           2           1   3.0  1.0  1993.0        2.0
         2002    9           2           1   3.0  1.0  1993.0        2.0
...            ...         ...         ...   ...  ...     ...        ...
1255501  1992    5       12555           1   3.0  1.0  1987.0        1.0
         1994    7       12555           1   3.0  1.0  1987.0        1.0
         1996    9       12555           1   3.0  1.0  1987.0        1.0
         1998   11       12555           1   3.0  1.0  1987.0        1.0
         2000   13       12555           1   3.0  1.0  1987.0        1.0

               momage  dpar  d19872001  ...  dependent_clings  \
child_id year                           ...
201      1994    34.0   0.0        1.0  ...               NaN
         1996    34.0   0.0        1.0  ...               NaN
         1998    34.0   0.0        1.0  ...          NOT TRUE
         2000    34.0   0.0        1.0  ...          Not True
         2002    34.0   0.0        1.0  ...          Not True
...               ...   ...        ...  ...               ...
1255501  1992    24.0   0.0        1.0  ...               NaN
         1994    24.0   0.0        1.0  ...               NaN
         1996    24.0   0.0        1.0  ...               NaN
         1998    24.0   0.0        1.0  ...               NaN
         2000    24.0   0.0        1.0  ...               NaN

               dependent_cries  dependent_attention  dependent_dependent  \
child_id year
201      1994              NaN                  NaN                  NaN
         1996              NaN                  NaN                  NaN
         1998         NOT TRUE       SOMETIMES TRUE             NOT TRUE
         2000   Sometimes True       Sometimes True       Sometimes True
         2002         Not True             Not True             Not True
...                        ...                  ...                  ...
1255501  1992              NaN                  NaN                  NaN
         1994              NaN                  NaN                  NaN
         1996              NaN                  NaN                  NaN
         1998              NaN                  NaN                  NaN
         2000              NaN                  NaN                  NaN

               antisocial_disob_school    antisocial_teachers  \
child_id year
201      1994                      NaN                    NaN
         1996                      NaN                    NaN
         1998                 Not true               Not true
         2000    Never Attended School  Never Attended School
         2002                 Not True               Not True
...                                ...                    ...
1255501  1992                      NaN                    NaN
         1994                      NaN                    NaN
         1996                      NaN                    NaN
         1998                      NaN                    NaN
         2000                      NaN                    NaN

               additional_gethim  additional_hangout  additional_secretive  \
child_id year
201      1994                NaN                 NaN                   NaN
         1996                NaN                 NaN                   NaN
         1998           NOT TRUE            NOT TRUE              NOT TRUE
         2000           Not True            Not True              Not True
         2002           Not True            Not True              Not True
...                          ...                 ...                   ...
1255501  1992                NaN                 NaN                   NaN
         1994                NaN                 NaN                   NaN
         1996                NaN                 NaN                   NaN
         1998                NaN                 NaN                   NaN
         2000                NaN                 NaN                   NaN

               additional_worries
child_id year
201      1994                 NaN
         1996                 NaN
         1998      SOMETIMES TRUE
         2000            Not True
         2002            Not True
...                           ...
1255501  1992                 NaN
         1994                 NaN
         1996                 NaN
         1998                 NaN
         2000                 NaN

[6785 rows x 206 columns]

4. The dataset contains surprises such as categorical variables where you need numerical ones, variables that take values you did not expect or category labels that are similar but not identical across variables. Try to find good solutions for each of them. Also, use the following conventions:
    - The answers 'sometimes true' and 'often true', are counted as 1, 
    - 'not true' is counted as zero

In [11]:
#Replacing values
df1 = df1.replace(["Not True", "NOT TRUE", "Not true"],0)
df1 = df1.replace(["Sometimes True","SOMETIMES TRUE","Sometimes true",
                   "Often True","OFTEN TRUE","Often true"],1)
df1 = df1.replace(["NEVER ATTENDED SCHOOL","Never Attended School","Child has never attended school"],np.nan)
df1

               age  mom_id_chs  birthorder  race  sex     yob  nchildren  \
child_id year
201      1994    1           2           1   3.0  1.0  1993.0        2.0
         1996    3           2           1   3.0  1.0  1993.0        2.0
         1998    5           2           1   3.0  1.0  1993.0        2.0
         2000    7           2           1   3.0  1.0  1993.0        2.0
         2002    9           2           1   3.0  1.0  1993.0        2.0
...            ...         ...         ...   ...  ...     ...        ...
1255501  1992    5       12555           1   3.0  1.0  1987.0        1.0
         1994    7       12555           1   3.0  1.0  1987.0        1.0
         1996    9       12555           1   3.0  1.0  1987.0        1.0
         1998   11       12555           1   3.0  1.0  1987.0        1.0
         2000   13       12555           1   3.0  1.0  1987.0        1.0

               momage  dpar  d19872001  ...  dependent_clings  \
child_id year                           ...
201      1994    34.0   0.0        1.0  ...               NaN
         1996    34.0   0.0        1.0  ...               NaN
         1998    34.0   0.0        1.0  ...               0.0
         2000    34.0   0.0        1.0  ...               0.0
         2002    34.0   0.0        1.0  ...               0.0
...               ...   ...        ...  ...               ...
1255501  1992    24.0   0.0        1.0  ...               NaN
         1994    24.0   0.0        1.0  ...               NaN
         1996    24.0   0.0        1.0  ...               NaN
         1998    24.0   0.0        1.0  ...               NaN
         2000    24.0   0.0        1.0  ...               NaN

               dependent_cries  dependent_attention  dependent_dependent  \
child_id year
201      1994              NaN                  NaN                  NaN
         1996              NaN                  NaN                  NaN
         1998              0.0                  1.0                  0.0
         2000              1.0                  1.0                  1.0
         2002              0.0                  0.0                  0.0
...                        ...                  ...                  ...
1255501  1992              NaN                  NaN                  NaN
         1994              NaN                  NaN                  NaN
         1996              NaN                  NaN                  NaN
         1998              NaN                  NaN                  NaN
         2000              NaN                  NaN                  NaN

               antisocial_disob_school  antisocial_teachers  \
child_id year
201      1994                      NaN                  NaN
         1996                      NaN                  NaN
         1998                      0.0                  0.0
         2000                      NaN                  NaN
         2002                      0.0                  0.0
...                                ...                  ...
1255501  1992                      NaN                  NaN
         1994                      NaN                  NaN
         1996                      NaN                  NaN
         1998                      NaN                  NaN
         2000                      NaN                  NaN

               additional_gethim  additional_hangout  additional_secretive  \
child_id year
201      1994                NaN                 NaN                   NaN
         1996                NaN                 NaN                   NaN
         1998                0.0                 0.0                   0.0
         2000                0.0                 0.0                   0.0
         2002                0.0                 0.0                   0.0
...                          ...                 ...                   ...
1255501  1992                NaN                 NaN                   NaN
         1994                NaN                 NaN                   NaN
         1996                NaN                 NaN                   NaN
         1998                NaN                 NaN                   NaN
         2000                NaN                 NaN                   NaN

               additional_worries
child_id year
201      1994                 NaN
         1996                 NaN
         1998                 1.0
         2000                 0.0
         2002                 0.0
...                           ...
1255501  1992                 NaN
         1994                 NaN
         1996                 NaN
         1998                 NaN
         2000                 NaN

[6785 rows x 206 columns]